body {
  background-color: #302E2E;
  font-family: 'Montserrat', sans-serif;
}


#temperature {
  position: fixed;
  top: 15%;
  left: 20%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 300px;
  width: 300px;
  line-height: 300px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-style: solid;
  border-width: 20px;
  background-color: #302E2E;
  border-color: red;
  text-align: center;
  font-size: 10em;
  padding: 20px;
  z-index: -1;
}

button {
  border-radius: 20%;
  -moz-border-radius: 50%;
  border-style: none;
  font-size: 20px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#temperature-up {
  position: absolute;
  top: 140px;
  left: 500px;
  display: block;
  height: 60px;
  width: 60px;
  /*line-height: 10px;*/
  -moz-border-radius: 50%; /* or 50% */
  border-radius: 50%; /* or 50% */
  background-color: red;
  color: white;
  text-align: center;
  font-size: 2em;
  padding: 10px;
}

#temperature-down {
  position: absolute;
  top: 230px;
  left: 500px;
  display: block;
  height: 60px;
  width: 60px;
  /*line-height: 10px;*/
  -moz-border-radius: 50%; /* or 50% */
  border-radius: 50%; /* or 50% */
  background-color: green;
  color: white;
  text-align: center;
  font-size: 2em;
  padding: 10px;
}

h3 {
  position: absolute;
  top: 280px;
  left: 170px;
  text-align: center;
  display: block;
  color: #7C7877;
  font-size: 15px;
}

h2 {
  color: white;
  position: absolute;
  top: 400px;
  left: 110px;
  text-align: center;
  display: block;
}

input[type=text] {
    width: 10%;
    height: 15px;
    padding: 12px 20px;
    margin: 8px 0;
    position: absolute;
    top: 460px;
    left: 120px;
    box-sizing: border-box;
}

#submit {
  position: absolute;
  top: 460px;
  left: 260px;
  font-size: 15px;
  border-radius: 20%;
  -moz-border-radius: 50%;
  border-style: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #302E2E;
}

#powersaving-on {
  position: absolute;
  top: 320px;
  left: 200px;
  text-align: center;
  display: block;
  font-size: 15px;
  background-color: #302E2E;
}

#powersaving-off {
  position: absolute;
  top: 320px;
  left: 260px;
  text-align: center;
  display: block;
  font-size: 15px;
  background-color: #302E2E;
}

#temperature-reset {
  position: absolute;
  top: 310px;
  left: 500px;
  text-align: center;
  display: block;
  font-size: 15px;
  background-color: #302E2E;
}

#save-settings {
  position: absolute;
  top: 350px;
  left: 480px;
  text-align: center;
  display: block;
  font-size: 15px;
  background-color: #302E2E;
}


.low-usage {
  color: green;
}

.medium-usage {
  color: white;
}

.high-usage {
  color: red;
}
